<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.game.pokers.dao"/>
        <package name="com.oe.dao"/>
    </typeAliases>
    <mappers>
        <mapper resource="com/game/pokers/dao/User.xml"/>
        <mapper resource="com/game/pokers/dao/BiJiRoomInfo.xml"/>
        <mapper resource="com/game/pokers/dao/BiJiRoundInfo.xml"/>
        <mapper resource="com/oe/dao/OkxKlinesData.xml"/>
    </mappers>
</configuration>